.circle {
    /* color: #369; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;*/
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: red;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    position: relative;
    box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px black;
    display: inline-block;
    margin: 5%;

}
.box {
    width: 120px;
    height: 120px;
   /* border-radius: 50%;*/
    background: green;  
}
.heart {
    
        position: relative;
        width: 100px;
        height: 175px;
        background-color: red;
        box-shadow: -1px 0px 2px #444;  
        -webkit-border-radius: 50px 50px 0 0;
        -moz-border-radius: 50px 50px 0 0;
        border-radius: 50px 50px 0 0;
      /* Определяем угол наклона */
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        transform: rotate(315deg);
      }
      /* Формируем правую часть */
      .heart:before {
        position: absolute;
        width: 175px;
        height: 100px;
        left: 0;
        bottom: 0;
        content: "";
        background-color: rgb(255, 0, 234);
        box-shadow: 0px 3px 3px #444444; 
        -webkit-border-radius: 50px 50px 0 0;
        border-radius: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-left: -4px;
  min-height: 500px; 
}